# Path to your local ports directory.
#base = "/usr/ports"  # Default
#base = "~/git/ports"

# Default maintainer used by portscout.
#maintainer = "ports@FreeBSD.org"  # Default

# By default all packages associated with a
# maintainer are used.  You can limit this
# to an explicit list of package origins
# below.
#origins = ["x11/xmenu", "devel/gh"]

# Exclusivity filter of package origins.
# Sometimes portscout is unable to correctly
# determine the latest version, so in some
# instances it may be desirable to filter
# out erroneous packages.
#excludes = ["sysutils/duf", "misc/broot"]

# Location in which the Makefile scripts
# are located.
#scriptDir = "/usr/lcoal/share/portsync/Mk"  # Default
#scriptDir = "~/Mk"
